.languages {
  display: flex;
  padding: 0;
}

.languageItem {
  display: flex;
  align-items: flex-end;
  margin-left: 4px;
  list-style-type: none;
}

.languageItem:first-child {
  margin-left: 0;
}

.skillLevel {
  width: 3px;
  height: 19px;
}

.language {
  margin-left: 2px;
  font: var(--font-text-14-100-400);
  color: var(--grey-color-500);
}
