.categories {
  &__item {
    padding: 8px 16px 25px 16px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 15px;
    height: 26px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    background-color: #E2E5E9;
  }
  
  &__active {
    padding: 8px 16px 25px 16px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 15px;
    height: 26px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    background-color: rgba(195, 238, 17, 1);
  }

  ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding-left: 0px;

    li {
      padding: 8px 16px 25px 16px;
      border-radius: 16px;
      font-weight: 400;
      font-size: 15px;
      height: 26px;
      background: var(--grey-gradient-100, #E2E5E9);
      color: #566276;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background: var(--white, #FFF);
        color: #323944;
      }

      &:active {
        background: var(--accent-color-salad, #C3EE11);
        color: #323944;
      }

      &:disabled {
        background: var(--grey-gradient-100, #E2E5E9);
        color: #A7B0BE;
      }

      &.categories__active {
        background: var(--accent-color-salad, #C3EE11);
      }
    }
  }
}
