.modal {
  align-items: center;
  text-align: center;
  max-width: 540px;

  &__image {
    margin-bottom: 24px;
    width: 168px;
    height: 140px;
    object-fit: cover;
  }

  &__text {
    color: var(--dark-violet);
    font: var(--font-text-16-160-400);

  }
}
