.content {
  width: 100%;
  max-width: 1440px;
  min-height: 900px;
  display: flex;
  margin: 0 auto;

  &__signInContainer {
    width: 470px;
    display: flex;
    flex-direction: column;
    padding: 24px 133px 0 24px;
    background-color: var(--grey-color-50);

    &_logoLink {
      cursor: pointer;
    }

    &_logo {
      width: 186px;
      height: 32px;
    }

    &_links {
      display: flex;
      margin-top: 68px;
      padding: 0;

      &_linkItem {
        margin-left: 44px;
        padding: 8px 12px 8px 0px;
        box-sizing: border-box;
        font: var(--font-header-24-120-600);
        text-decoration: none;
        color: var(--dark-violet);
        list-style-type: none;
        border-bottom: 1px solid transparent;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          border-bottom: 1px solid var(--dark-violet);
        }
      }
    }
 }

  &__picturesContainer {
    width: 947px;
  }
}