.button {
  display: inline-flex;
  width: max-content;
  height: 36px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 9px 24px 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: var(--font-text-16-120-400);
}

.variant-primary {
  color: var(--color-base-white);
  background-color: var(--accent-color-violet);
  border: none;

    &:hover {
      background-color: var(--primory-button-hover);
      transition: 0.3s background-color ease;
    }
}


.variant-transparent {
  color: var(--dark-violet);
  background-color: transparent;
  border: 1px solid var(--accent-color-violet);

  &:hover {
    background-color: var(--secondary-button-hover);
    transition: 0.3s background-color ease;
    }
}