@import 'src/vendor/_mixins.scss';

.button {
  display: inline-block;
  width: max-content;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

.fontSize-13 {
  font: var(--font-text-13-120-400);
}

.fontSize-16 {
  font: var(--font-text-16-120-400);
}

.size-small {
  height: 27px;
  border-radius: 12px;
  padding: 4px 12px;
}

.size-big {
  height: 36px;
  border-radius: 20px;
  padding: 9px 24px 8px;
}

.variant-primary {
  color: var(--color-base-white);
  background-color: var(--accent-color-violet);
  border: none;

  &:hover {
    background-color: var(--primory-button-hover);
    transition: 0.3s background-color ease;
  }
}

.variant-transparent {
  color: var(--dark-violet);
  background-color: transparent;
  border: 1px solid var(--accent-color-violet);

  &:hover {
    background-color: var(--secondary-button-hover);
    transition: 0.3s background-color ease;
  }
}

.variant-gray {
  color: var(--dark-violet);
  background-color: #F0F2F6;
  border: 1px solid #F0F2F6;
  background-color: #F0F2F6;
  border: 1px solid #F0F2F6;

  &:active {
    border: 1px solid #F0F2F6;
    border: 1px solid #F0F2F6;
    background-color: var(--accent-color-salad);
    transition: 0.3s background-color ease;
  }
}

.variant-addLanguage {
  background-color: var(--color-base-white);
  color: var(--accent-color-violet);
  border: none;

  &:hover {
    color: var(--primory-button-hover);
  }

  &:active {
    color: var(--primory-button-push);
  }
}
