@import 'src/vendor/_mixins.scss';

.menu {
  @include flex-center-space-between;
  padding: 16px;
  border-bottom: 1px solid var(--grey-color-50);

  &__filters {
    height: 34px;
    display: flex;
    gap: 16px;
  }
}