.main {
  background: var(--grey-color-50);
  padding: 80px 0;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 24px 81px;
  background: var(--grey-color-50);
  position: relative;

  &__header {
    color: var(--dark-violet);
    font: var(--font-header-18-120-600);
  }

  &__filterTag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  
    &_filter {
      max-width: 100%;
      display: flex;
      gap: 12px;
      padding: 0 6px;
      border-radius: 12px;
      justify-content: center;
      align-items: center;
  
      &_title {
        font-size: 15px;   
        font-weight: 400;
        line-height: normal;
        color: var(--dark-violet, #403A6D);

        &:hover {
          color: #8373FF;
        }
        &:active {
          color: #493ABD;
        }
        //&: {
        //
        //}
      }
  
      &_button {
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
        background-image: url("../../images/svg/Filter.svg");
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        color: var(--dark-violet, #403A6D);
        background-color: #F0F2F6;
  
        &:hover {
          background-image: url("../../images/svg/Filter_hover.svg");
        }
        &:active {
          background-image: url("../../images/svg/Filter_active.svg");
        }
        //&: {
          //background-image: url("../../images/svg/Filter_green.svg");
        //}
      }
    }
  }
  
  &__categories {
    display: flex;
  }
  
  &__cardListAndSortPopup {
    display: flex;
    
    &_cardListArea {
      display: flex;
      flex-direction: column;
      
      &_cardList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin: 0 auto;
        
        &_narrow {
          grid-template-columns: repeat(3, 1fr);
          margin: 0 16px 0 0;
        }
      }
      
      &_continuingButton {
        margin: 40px auto 0;
      }
    }
  }
}

.modal {
  &_header {
    font: var(--font-header-24-120-600);
    color: var(--dark-violet);
    letter-spacing: 0.48px;
    text-align: center;
  }

  &_text {
    &_main {
      font: var(--font-text-18-140-400);
      color: var(--dark-violet-gradient-400);
      letter-spacing: 0.36px;
      margin: 20px 0;
      text-align: center;
    }

    &_additional {
      font: var(--font-text-16-120-400);
      color: var(--grey-gradient-400);
      font-style: italic;
      letter-spacing: 0.32px;
      text-align: center;
    }
  }
}
