.language__option {
    padding: 0 20px;
    display: flex;
    justify-content: space-between; /* Добавляем равномерное распределение элементов */
    gap: 50px; /* Расстояние между элементами внутри блока */
  
    select {
      width: 296px; 
      height: 33px;
      font-size: 14px; 
      border: 1px solid var(--soft-violet, #A5A0C5);
      border-radius: 12px;
      padding: 8px 12px;
      background-color: rgba(240, 242, 244, 1);
      color: var(--grey-gradient-500, #323944);
    }
  }
  
  .language__level {
    width: 336px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
  
    .language__option {
      display: flex;  
    }
  
    select {
      width: 296px;
  
    }
  
    label {
      padding-bottom: 10px;
      font-size: 14px;
    }
  
    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      margin-right: 6px;
      border-color: rgba(165, 160, 197, 1); /* Раскомментируйте эту строку для установки цвета рамки */
    }
  }
  