.modal {
  &__container {
    width: 501px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-base-white);
    border-radius: 20px;
    padding: 60px 40px;
    margin: 0;
  }

  &__closeButton {
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 16px;
    top: 16px;
    border: none;
    background-color: var(--color-base-white);
    background-image: url(../../images/svg/modal-close-button.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
    opacity: 1;

    &:hover {
      opacity: 0.6;
      transition: opacity 0.5s ease;
    }
  }
}
