.header {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 18px 24px;
  margin: 0px auto;
  justify-content: center;

  a:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
  }

  &__container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  &__buttonContainer {
    display: flex;
    gap: 40px;
  }
}
