.input {
  display: inline-flex;
  width: 563px;
  height: 59px;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--color-base-white);
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  padding: 15px 44px;
  font: var(--font-text-lg-regular);
  color: var(--color-primary);
}

.input::placeholder {
  color: var(--color-input-placeholder);
}

/*.input:focus-visible {*/
/*  border-collapse: var(--color-primary-300);*/
/*  box-shadow: var(--shadow-xs), 0 0 0 4px var(--color-primary-100);*/
/*}*/

/*.input:disabled {*/
/*  background-color: var(--color-gray-50);*/
/*  color: var(--color-gray-500);*/
/*}*/

/*.hint {*/
/*  display: block;*/
/*  margin-top: 6px;*/
/*  color: var(--color-gray-500);*/
/*  font: var(--font-text-sm-regular);*/
/*}*/

/*.error {*/
/*  display: block;*/
/*  margin-top: 6px;*/
/*  color: var(--color-error-500);*/
/*  font: var(--font-text-sm-regular);*/
/*}*/

/*.has-error {*/
/*  border-color: var(--color-error-300);*/
/*}*/

/*.has-error:focus-visible {*/
/*  border-color: var(--color-error-300);*/
/*  box-shadow: var(--shadow-xs), 0 0 0 4px var(--color-error-100);*/
/*}*/
