@import 'src/vendor/_mixins.scss';

.content {
  background-color: var(--grey-gradient-50);
  min-height: 900px;
  padding: 40px 0 80px;
  position: relative;

  &__returnButton {
    position: absolute;
    left: 24px;
    width: 108px;
    height: 32px;
    background: url("../../images/svg/back-arrow-32px.svg") transparent no-repeat left center;
    background-size: 32px 32px;
    border: none;
    cursor: pointer;
    color: var(--dark-violet);
    font: var(--font-text-18-100-400);
    letter-spacing: 0.36px;
    padding: 0;
    text-align: right;
  }
}

.container {
  max-width: 668px;
  margin: 0 auto;

  &__title {
    color: var(--dark-violet);
    font: var(--font-header-24-120-600);
    text-align: center;
    margin-top: 40px;
  }

  &__fillOutProfileArea {
    @include contentArea;
    width: 100%;
    margin-top: 24px;

    &_page3 {
      display: flex;
      justify-content: space-between;
    }

    &_input {
      width: 296px;

      &_name {
        margin-bottom: 24px;
      }
    }

    &_title {
      color: var(--dark-violet);
      font: var(--font-title-18-120-500);
      margin-bottom: 16px;
    }

    &_hint {
      color: var(--dark-violet-gradient-400);
      font: var(--font-text-15-120-400);
      margin-bottom: 24px;
    }

    &_selectPlaceholder {
      color: var(--soft-violet);
      font: var(--font-text-14-120-400);
    }

    &_exportAvatar {
      cursor: pointer;
      position: relative;

      &_image {
        border-radius: 20px;
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        & img {
          object-fit: cover;
        }
      }

      &_popup {
        position: absolute;
        top: 90px;
        display: none;
        width: 200px;
        flex-shrink: 0;
        border-radius: 12px;
        background-color: var(--color-base-white);
        padding: 8px 12px;
        box-sizing: border-box;

        & button {
          color: var(--grey-gradient-500);
          font: var(--font-text-13-120-400);
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }

      &:hover &_popup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }

    &_button {
      width: 121px;
      height: 20px;
      background: url("../../images/svg/help_20px.svg") transparent no-repeat right center;
      background-size: 20px 20px;
      border: none;
      cursor: pointer;
      color: var(--soft-violet);
      font: var(--font-text-14-100-400);
      padding: 0;
      text-align: left;
    }
  }

  &__goals {
    width: 652px;
    margin: 32px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;

    &_goal {
      @include contentArea;
      width: 200px;
      @include flex-column-center;
      border: none;
      cursor: pointer;

      &_active {
        background-color: var(--accent-color-salad);
      }

      & img {
        margin-bottom: 12px;
      }

      & span {
        color: var(--dark-violet);
        font: var(--font-text-18-100-400);
        letter-spacing: 0.2px;
      }
    }
  }
}

.form {
  @include flex-column-center;

  &__button {
    width: 454px;
    margin-top: 40px;
  }

  &__textarea {
    margin-top: 32px;
  }
}

.modal {
  align-items: center;
  text-align: center;
  max-width: 540px;

  &__title {
    letter-spacing: 0.48px;
    margin: 0 0 24px;
  }

  &__text {
    color: var(--dark-violet);
    font: var(--font-text-16-160-400);

  }

  &__hint {
    color: var(--dark-violet);
    font: var(--font-text-14-140-400);
    margin-top: 32px;
  }

  &__button {
    width: 218px;

    &_primary {
      margin-top: 32px;
    }

    &_transparent {
      background-color: transparent;
      border: none;
      color: var(--accent-color-violet);
      font: var(--font-text-16-125-500);
      text-align: center;
      cursor: pointer;
      margin-top: 24px;
    }
  }

  &__input {
    &_file {
      display: none;
    }
  }
}

.interests {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 88px;
  overflow: hidden;
  gap: 16px;

  &__interest {
    border-radius: 20px;
    border: 1px solid var(--accent-color-violet);
    height: 36px;
    padding: 4px 30px 4px 12px;
    background: url("../../images/close-icon-16px.png") transparent no-repeat right 6px center;
    background-size: 16px 16px;
    cursor: pointer;
    color: var(--dark-violet);
    font: var(--font-text-16-100-400);
    text-align: left;
  }

}
