.questionBlock {
	display: flex;
	flex-direction: column;
  padding: 24px;
  
  div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: center;

	h3 {
	  font-size: 18px;
	  font-weight: 400;
		color: var(--dark-violet);
		max-width: 758px;
	}
	}

  img {
    width: 20px;
    height: 20px;
  }

  p {
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		padding-top: 16px;
		max-width: 758px;
    color: #8995A9;
	}

  &__picRight {
    transform: rotate(270deg);
  }
}
