.slider_wrapper {
    position: relative;
    width: 293px;
    margin-top: 16px;
    margin-bottom: 6px;
  }
  
  .slider {
    position: relative;
    z-index: 1;
    height: 3px;
    margin: 5.5px 5px;
    background-color: #CBC7E8;
  }
  
  .slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #c6aee7;
    height: 3px;
  }
  
  .slider > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: var(--dark-violet, #403A6D);
    height: 3px;
  }
  
  .slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #d5d3e7;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
    transition: box-shadow 0.3s ease-in-out;

  }
  
  .slider > .thumb.left {
    left: 25%;
    transform: translate(-6px, -4.5px);
  }
  
  .slider > .thumb.right {
    right: 25%;
    transform: translate(6px, -4.5px);
  }
  
  .slider > .thumb.hover {
    box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.1);
  }
  
  .slider > .thumb.active {
    box-shadow: 0 0 0 40px rgba(98, 0, 238, 0.2);
  }
  
  input[type="range"] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 3px;
    width: 100%;
    opacity: 0;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
  }

  .slider_values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 25px;
    width: 100%;
  }
  
  .slider_value_left,
  .slider_value_right {
    font-size: 14px;
    transform: translateX(-50%);
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: -25px;
    font-size: 14px;
    color: #323944;
    font-family: Inter;
    left: 113px;
    right: 223px;
  }
  
  .slider_value_right {
    
    right: 0;
  }

  .slider_value_left {
    left: 0;
  }
 
  
  
  
  
  
  
  