.profile__button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	// background-color: var(--color-base-white);
	// color: var(--dark-violet);

	&:hover {
		cursor: pointer;
		opacity: 0.7;
	}
}
