.profile__button {
	display: flex;
	border: none;
	background-color: var(--color-base-white);
	color: var(--dark-violet);

	&:hover {
		cursor: pointer;
		opacity: 0.7;
	}

	&__icon {
		width: 36px;
		height: 36px;
	}
}
