.languagesAdd {
  align-items: flex-start;
  background-color: var(--color-base-white);
  background-image: url('../../images/svg/plus-in-circle.svg');
  background-position: left 0 center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  width: 135px;
  color: var(--accent-color-violet, #6D47D1);
  padding: 0;

  &:hover {
    background-image: url('../../images/svg/plus-in-circle_hover.svg');
  }

  &:hover &__button {
    color: var(--primory-button-hover);
  }

  &:active {
    background-image: url('../../images/svg/plus-in-circle_active.svg');
  }

  &:active &__button {
    color: var(--primory-button-push);
  }

  &_center {
    margin: 0 auto;
  }
}
