.button {
  background-image: url('../../../images/svg/search_grey.svg');
  background-repeat: no-repeat;
  background-color: var(--color-base-white);
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
}
