.popup__sort {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 336px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  box-shadow: 0px 0px 8px 0px rgba(17, 17, 26, 0.10), 0px 1px 0px 0px rgba(17, 17, 26, 0.05);
  position: relative;

  &_hidden {
    display: none;
  }

  .popup__cantry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_enter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &_input {
      width: 296px;
      height: 36px;
      font-size: 14px;
      border: 1px solid var(--soft-violet, #A5A0C5);
      border-radius: 20px;
      padding: 8px 12px;
      background-color: var(--white, #FFF);
      color: var(--grey-gradient-500, #323944);
      background-image: url("../../images/svg/search.svg");
      background-repeat: no-repeat;
      background-position: left 12px center;
      background-size: 20px 20px;
      padding-left: 40px;
      margin-top: 16px;
      position: relative;

      &_error {
        color: var(--error, #DE3D3D);
        font-size: 12px;
        height: 15px;
        margin-top: 6px;
      }

      &_showSuggestions::before {
        display: block;
      }

      &:hover {
        border: 2px solid var(--soft-violet, #A5A0C5);
      }

      &:focus {
        border: 1px solid var(--dark-violet, #403A6D);
        background-image: url("../../images/svg/search_dark.svg");
      }

      &:disabled {
        background: var(--grey-gradient-50, #F0F2F4);
        border: none;
        color: var(--soft-violet, #A5A0C5);
      }
    }

    &_selectedCountries {
      position: relative;
      width: 296px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    &_countryName {
      flex: 1;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      word-wrap: break-word;
      white-space: nowrap;
    }

    &_removeButton {
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      background-image: url("../../images/svg/16px.svg");
      background-color: var(--accent-color-salad, #C3EE11);
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      padding: 0;
      margin-left: 8px;
    }

    &_selectCountry {
      margin: 12px 12px 12px 0;
      padding: 4px 6px 4px 12px;
      height: 25px;
      border-radius: 12px;
      background-color: var(--accent-color-salad, #C3EE11);
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
    }

    &_countryList {
      position: absolute;
      border-radius: 12px;
      top: 100%;
      left: 0;
      margin-top: 6px;
      width: 100%;
      max-height: 434px;
      overflow: auto;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 1000;

      &::-webkit-scrollbar {
        width: .75em;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--white, #FFF);
        margin-block: .5em;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--soft-violet, #A5A0C5);
        border-radius: 100vw;
        border: .25em solid var(--white, #FFF);
      }

      &_option {
        font-size: 13px;
        padding: 8px 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
      }

      &_flagImage {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }
  }

  .languageHelp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    gap: 16px;

    &__button {
      background: #fff url('../../images/svg/help_20px.svg') no-repeat center;
      border: none;
      padding: 0;
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
    }
  }

  .subtitle {
    align-self: stretch;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #323944;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
  }

  //Кнопка добавить язык

  .languagesAdd {
    width: 135px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    color: var(--accent-color-violet, #6D47D1);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: url("../../images/svg/plus-in-circle.svg");
    background-repeat: no-repeat;
    background-position: left 0 center;
    background-size: 20px 20px;
    padding-left: 20px;
    border: none;
    background-color: #fff;
    margin-bottom: 40px;

    &__button {
      height: 20px;
      padding: 0;
      background-color: white;
      border: none;
      color: #6D47D1;

      &:hover {
        color: var(--hover-text-color, #A083E0);
      }

      &:active {
        color: var(--hover-text-color, #6236C7);
      }
    }
    &:hover {
      background-image: url("../../images/svg/plus-in-circle_hover.svg");
    }

    &:active {
      background-image: url("../../images/svg/plus-in-circle_active.svg");
    }
  }

  button {
    color: var(--grey-gradient-500, #323944);
    cursor: pointer;
  }

  .popup__search {
    display: flex;
    justify-content: center;
  }

    //Блок выбора партнера

  .partner {
    display: flex;
    flex-direction: column;
    margin-top: 40px;


    &__gender {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 296px;
      margin: 20px 0;

      &_subtitle {
        color: var(--grey-gradient-600, #566276);
        font-size: 14px;
        font-weight: 400;
        margin-right: 81px;
      }

      &_button {
        width: 82px;
        height: 24px;
        padding: 4px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border: 1px solid var(--accent-color-violet, #6D47D1);

      }

      .partner__gender_button.selected,
      .partner__gender_button:hover {
        border: 1px solid var(--accent-color-violet, #6D47D1);
        background: #E1D6FF;
      }


      .partner__gender_button:focus {
        border: 1px solid var(--accent-color-violet, #6D47D1);
        background: #C1AAFF;
      }


      .partner__gender_button:disabled {
        background: var(--grey-gradient-100, #E2E5E9);
        color: #A0A7B2;
      }

    }
  }

    //Блок выбора возраста

  .age {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;

    &__subtitle {
      color: var(--grey-gradient-600, #566276);
      font-size: 14px;
      font-weight: 400;
    }
  }

  // Кнопка найти

  .findButton {
    width: 100%;
    height: 36px;
    margin-bottom: 24px;
    border-radius: 20px;
    background-color: var(--accent-color-violet, #6D47D1);;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background: var(--primory-button-hover, #A083E0);
    }

    &:active {
      background: var(--push-button, #6236C7);
    }

    &:disabled {
      background: var(--grey-gradient-100, #E2E5E9);
    }
  }

  //Кнопка очистить фильтр

  .cleanButton {
    height: 20px;
    background-color: #fff;
    color: var(--grey-gradient-200, #C4CAD4);
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #6D47D1;

    &:hover {
      border: 1px solid var(--accent-color-violet, #6D47D1);
      background: #E1D6FF;
      color: #A083E0;
    }

    &:active {
      border: 1px solid var(--accent-color-violet, #6D47D1);
      background: #C1AAFF;
      color: #6236C7;
    }

    &:disabled {
      color:#C4CAD4;
      background: var(--grey-gradient-100, #E2E5E9);
    }
  }
}
