.profile__languages {
	display: flex;
	justify-content: space-between;
	width: 454px;
	background-color: var(--color-base-white);
	border-radius: 20px;
	margin: 16px 16px 16px 0;
	padding: 20px;
}

.profile__title {
	font-family: var(--font-sans);
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 16px;
	color: var(--dark-violet);
}

.profile__language {
	min-width: 161px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.profile__levels {
	display: flex;
	justify-content: space-between;
}

.profile__level {
	display: flex;
	justify-content: left;
}

.profile__langAdd {
	font-family: var(--font-sans);
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--accent-color-violet);
	padding-left: 6px;
}

.profile__subtitle {
	font-family: var(--font-sans);
	font-size: 16px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--dark-violet-gradient-400);
}

.profile__help {
	width: 20px;
	height: 20px;
}
