.content {
  width: 100%;
  max-width: 1440px;
  min-height: 900px;
  display: flex;

  &__signInContainer {
    display: flex;
    flex-direction: column;
    margin: 24px 0 0 24px;

    &_links {
      display: flex;
      margin-top: 68px;
      padding: 0;

      &_linkItem {
        margin-left: 44px;
        padding: 8px 12px 8px 0px;
        box-sizing: border-box;
        font: var(--font-header-24-120-600);
        text-decoration: none;
        color: var(--dark-violet);
        list-style-type: none;
        border-bottom: 1px solid transparent;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          border-bottom: 1px solid var(--dark-violet);
        }
      }
    }
 }

  &__picturesContainer {
    width: 947px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  &_input {
    margin-bottom: 24px;
  }

  &_textTag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    cursor: pointer;
  }

  &_checkbox {
    display: flex;
    align-items: center;
    font: var(--font-text-14-120-400);
    color: var(--dark-violet);

    &_input {
      width: 18px;
      height: 18px;
      margin-right: 12px;
      border: 1px solid var(--soft-violet);
    }
  }

  &_forgotLink {
    font: var(--font-text-14-120-400);
    color: var(--dark-violet-gradient-400);
    font-style: italic;
    text-decoration: none;
  }

  &_button {
    width: 100%;
    margin-top: 32px;
  }
}
